* {
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 1024px;
  background-color: #fff;
  height: 100vh;
  margin: 0px auto;
  text-align: center;
}
.box {
  margin-top: 20px;
}

.btn {
  min-width: 4rem;
  height: 2rem;
  background-color: #03b7f1;
  border: none;
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}
.btn:hover {
  background-color: #31b3dd;
}
.random_value {
  font-size: 2rem;
}

footer {
  margin-top: 3rem;
}
